<div class="container-fluid">
    <div style="background-image: url('assets/images/blur.jpg');" id="blur">
        <p>
            We believe that great things in business are never done by one person. They're done by a team of people.
        </p>
    </div>
</div><br><br>
<div class="container-fluid" style="border-bottom: solid 0.1px lightgray; padding-bottom: 90px;">

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <img src="assets/images/story.jpg" alt="img" style="width:100%; height:320px;">
        </div>
        <div class="col-md-4">
            <h3>OUR STORY
            </h3>
            <p style="font-size: 13px;">Creative Architectures was founded in 2012 by Principal designer Mr. tejas to
                provide quality interior design. Through the years of experience, we are able to design and build
                Residential and Corporate projects and keep improving our quality to serve our clients. Our company also
                has a group of capable management, sales, design and project team who is professional in handling a
                omprehensive range of projects. Our in-house service provides experienced design and space planning to
                let you have a full understanding of the whole project. Our experienced and qualified interior designers
                are well versed in computer CAD and 3D software. With the employment of computer-aided visualization,
                clients can be confident to interpret precisely how the designer interprets the drawings in his mind. We
                combine fresh thinking, new ideas and inspirational approach to our clients.</p>
        </div>

        <div class="col-md-2">

        </div>
    </div>
</div> <br><br><br><br>

<div class="container-fluid" style="border-bottom:solid 0.1px lightgray;padding-top: 20px;padding-bottom: 90px;">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-3">
            <img src="assets/images/tejas.jpg" alt="img" style="width:100%; height:350px;">
        </div>
        <div class="col-md-6">
            <p style="font-size: 12px;">MD (CREATIVE ARCHITECTURES )</p>
            <h3>Hello, I'm Tejas V Pathare
            </h3>
            <p style="font-size: 12px;">As Director of Operations, Mr.Tejas has more than ten years of first-hand
                industry experience in the field of interior design, interior construction and customer relations. He
                leads a diverse team of dedicated professionals with expertise in a wide range of specialties. In
                addition to systems building and hands-on training, he is also involved in daily project management and
                client servicing. Under his able leadership, our firm advances in its unceasing pursuit of excellence.
            </p>
        </div>

        <div class="col-md-1">

        </div>
    </div>
</div> <br><br>

<div class="container-fluid" style="padding-top: 20px;padding-bottom: 90px;">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-3">
            <img src="assets/images/shweta.jpg" alt="img" style="width:100%; height:350px;">
        </div>
        <div class="col-md-6">
            <p style="font-size: 12px;">MD (CREATIVE ARCHITECTURES )</p>
            <h3>Hello, I'm Mrs.Shweta T Pathare

            </h3>
            <p style="font-size: 12px;">a strong foundation in the design and conceptual planning of interiors. She is a
                visionary designer with an ability to effortlessly conceive elegant concepts and then translate them
                into functional and inspiring spaces. With over seven years of design experience in luxury residential
                and commercial interiors across continents, she gracefully fuses international design and luxury with
                Indian pragmatism. She believes that in order to achieve a successful result, the client’s needs must
                always remain at the very centre of all design concepts. Her management style brings a fluid energy and
                vibrancy to the studio. In constantly pushing boundaries, she challenges herself and inspires her teams
                to excel in the many nuances of design and detailing.</p>
        </div>

        <div class="col-md-1">

        </div>
    </div>
</div> <br><br>
<div class="container-fluid" style="background-image: url('assets/images/blur2.jpg'); " id="blur">

    <div class="container text-right">
        <p style="color:white;font-size: 30px; ">WE TURN GREAT IDEAS TO MAKE CREATIVE ! <br> today with Us</p>
        <a class="btn" id="btn1" href="">Start Now</a>
    </div>
</div>


<div>
    <app-footer>/</app-footer>
</div>